.card{
    border: 2px solid;
    width: 300px;
    position: relative;
}

.card>img{
    width: 100%;
}

.container{
    display: flex;
    gap: 20px;
}

.card .sold-img{
    position: absolute;
    width: 80px;
    right: 0;
}

